In [3]:
import pandas as pd
import os

In [4]:
data_path = "data/weather/"
img_path = "data/images/"

# Read in all csv files and combine them together

In [5]:
files = os.listdir(data_path)
collection = [pd.read_csv(data_path+file, header=14) for file in files]
data = pd.concat(collection)

In [6]:
data.shape

(13176, 25)

In [7]:
data.head(5)

,Date/Time,Year,Month,Day,Time,Data Quality,Temp (°C),Temp Flag,Dew Point Temp (°C),Dew Point Temp Flag,...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
0,2016-05-01 00:00,2016,5,1,00:00,‡,9.8,NaN,7.6,NaN,...,NaN,32.2,NaN,102.53,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-05-01 01:00,2016,5,1,01:00,‡,10.1,NaN,7.0,NaN,...,NaN,24.1,NaN,102.49,NaN,NaN,NaN,NaN,NaN,Clear
2,2016-05-01 02:00,2016,5,1,02:00,‡,9.5,NaN,6.2,NaN,...,NaN,24.1,NaN,102.46,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-05-01 03:00,2016,5,1,03:00,‡,9.2,NaN,6.7,NaN,...,NaN,24.1,NaN,102.43,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-05-01 04:00,2016,5,1,04:00,‡,8.5,NaN,6.0,NaN,...,NaN,32.2,NaN,102.41,NaN,NaN,NaN,NaN,NaN,Clear

# Remove unnecessary columns

In [8]:
data = data.drop(['Data Quality', 'Date/Time', 'Hmdx', 'Wind Chill', 'Year'], axis=1)
data['Time'] = data['Time'].apply(lambda x: int(x[:2]))
data = data.dropna(axis=1, how='all')

# Fill weather with value

In [9]:
y = data['Weather'].values
temp = ''
y[0] = y[1]

y_df = data['Weather']
flag = y_df.isnull().values

for i in range(1,len(y)):
    if not flag[i]:
        temp = y[i]
    else:
        y[i] = temp

In [10]:
data['Weather'] = pd.Series(y)

In [11]:
data.shape

(13176, 11)

# Remove rows with null

In [12]:
data = data.dropna(axis = 0, how = 'any')
data = data.reset_index()
data = data.drop('index', axis = 1)

In [13]:
data.shape

(13156, 11)

# Save cleaned data to csv

In [14]:
data.to_csv('data/weather_data.csv', index = False,encoding='utf-8')