In [1]:
import pandas as pd
import os

In [2]:
data_path = "data/weather/"
img_path = "data/images/"

# Read in all csv files and combine them together

In [3]:
files = os.listdir(data_path)
collection = [pd.read_csv(data_path+file, header=14) for file in files]
data = pd.concat(collection)

In [4]:
data.shape

(13176, 25)

In [5]:
data.head(5)

,Date/Time,Year,Month,Day,Time,Data Quality,Temp (°C),Temp Flag,Dew Point Temp (°C),Dew Point Temp Flag,...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
0,2017-06-01 00:00,2017,6,1,00:00,‡,13.4,NaN,12.8,NaN,...,NaN,19.3,NaN,100.99,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-06-01 01:00,2017,6,1,01:00,‡,13.3,NaN,12.5,NaN,...,NaN,19.3,NaN,101.00,NaN,NaN,NaN,NaN,NaN,Rain Showers
2,2017-06-01 02:00,2017,6,1,02:00,‡,13.6,NaN,13.0,NaN,...,NaN,24.1,NaN,100.98,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-06-01 03:00,2017,6,1,03:00,‡,13.3,NaN,12.5,NaN,...,NaN,16.1,NaN,100.99,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-06-01 04:00,2017,6,1,04:00,‡,12.6,NaN,12.0,NaN,...,NaN,24.1,NaN,101.02,NaN,NaN,NaN,NaN,NaN,Cloudy

# Remove unnecessary columns

In [6]:
data = data.drop(['Data Quality', 'Date/Time', 'Hmdx', 'Wind Chill', 'Year'], axis=1)
data['Time'] = data['Time'].apply(lambda x: int(x[:2]))
data = data.dropna(axis=1, how='all')

# Fill weather with value

In [7]:
y = data['Weather'].values
temp = ''
y[0] = y[1]

y_df = data['Weather']
flag = y_df.isnull().values

for i in range(1,len(y)):
    if not flag[i]:
        temp = y[i]
    else:
        y[i] = temp

In [8]:
data['Weather'] = pd.Series(y)

In [9]:
data.shape

(13176, 11)

# Remove rows with null

In [10]:
data = data.dropna(axis = 0, how = 'any')
data = data.reset_index()
data = data.drop('index', axis = 1)

In [11]:
data.shape

(13156, 11)

# Save cleaned data to csv

In [16]:
data.to_csv('data/weather_data.csv', index = False)